<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turui.android.cameraview">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity android:name="com.library.ocr.CameraCardActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppThemeFullScreen" />

    </application>

</manifest>